* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    background: #151515;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

main {
    max-width: 1400px;
    padding: 0 15px
}

.swiper-button-next:after, .swiper-button-prev:after {
    color: #A3A3B1
}

@media(max-width: 801px){
    .swiper-button-next:after, .swiper-button-prev:after {
        display: none;
    }
}