@import 'src/styles/variables'

.benefits
  margin-top: 100px
  gap: 70px
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))

  .card
    display: flex
    flex-direction: column
    gap: 25px
    background: none

    .title, .description
      margin: 0
      text-align: start

    .description
      color: $secondary-text

    .image
      width: 50px